<div class="container w-50">
<div class="col-sm-6">
<form (ngSubmit) = "onFormSubmit(loginForm.value)" #loginForm= "ngForm" >
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="userName" class="form-control" name="email" placeholder="Enter Username" ngModel>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  </div>
  </div>
